# Django Settings
SECRET_KEY=django-insecure-_%svc(23ov6dub5tecw5h)l^)&m8)t4ucafy&hzy+ei_2yt2j#
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MongoDB Atlas Connection
MONGO_URI=I will provide

# Frontend URL (Update with your actual Vercel URL)
FRONTEND_URL=https://your-vercel-app.vercel.app
